.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App .spotlight {
  z-index: -1;
  position: absolute;
  top: -5%;
  left: 0;
  width: 120%;
  height: 120%;
  background: radial-gradient(circle at 70% 15%, #343944 0%, #343944 10%, transparent 30%);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header p.header {
  font-size: 12vmin;
  text-shadow: 2px 4px 4px #000;
}

.social img {
  filter: drop-shadow(0px 2px 2px #000);
}
