body {
  font-family: "Castoro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at top left, #095af0, transparent);
}

p { margin: 0; }
ul { display: flex; gap: 16px; }
li { list-style: none; }
